@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(355, 4%, 15%);
}

img {
    max-width: 100%;
    height: auto;
}


.button {
    /* display: inline-block; */
    background-color: hsl(355, 70%, 54%);
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: 500;
    border-radius: 3rem;
    transition: 0.3s;
    margin-top: 3rem;
    text-align: center;
    cursor: pointer;
        border: none;
        outline: none;
}

.button:hover {
    background-color:rgb(164, 78, 92);
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin: auto;
    padding: 1rem 4rem;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-left: 1rem;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   margin: 0 1rem;
   align-items: center;
}

.home__data {
    /* display: flex;
    flex-direction: column; */
    text-align: start;
  position: relative;
}
.home__data .gif {
 
position: absolute;
top: 110%;
left: 2%;

}
.home__title {
    font-size: 3rem;
    line-height: 140%;
    margin-bottom: 0.5rem
}

.home__description {
    font-size: 0.813rem;
    /* padding: 0 2rem; */
    margin-bottom: 2.5rem;
    color: hsl(355, 4%, 35%);
}

